.benefits{
    background-color: rgb(118, 91, 91);
    color: white;
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.benefits-head{
    width: 60%;
    margin: 20px 0;
}
.benefits-head-title{
    font-family: Georgia, 'Times New Roman', Times, serif;

    font-size: 45px;
    color: rgb(4, 155, 225);
}
.benefits-container{
    width: 88%;
}
.benefits-boxes-left-head{
    font-size: 45px;
    
}
.figmaImg{
    width: 70px;
    margin:  0 10px 0 0;
}
.reactImg{
    width: 70px;
    margin: 0  0 0 10px;
}
.benefits-boxes{
  padding: 50px 0 ;
    display: flex;
    justify-content: space-evenly;
}
.benefits-boxes-left{
    background-color: rgb(23, 23, 23);
    padding: 20px 40px 60px 30px;
   height: 40%;
   margin: 10px 0;
    width:50%;
    line-height: 1.5;
    border-radius: 15px;
}
.benefits-boxes-left-head{
    margin: 20px 0;
}

.benefits-boxes-right{
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.benefits-right-box{
    background-color: rgb(23, 23, 23);
    width: 280px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 15px;
    align-items: center;
    margin: 10px;
}
.benefits-right-box >h1{
 font-size: 55px;
}

@media (max-width: 403px) {
    /* .benefits-boxes-right-display{
        display: flex;
        flex-direction: column;
    } */
    .benefits-right-box-text{
 font-size: 15px;
    }
    .benefits-right-box {
        background-color: rgb(23, 23, 23);
    width: 200px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;

    align-items: center;
    margin: 5px;
    }
}

/* Media Query for screens smaller than 768px */
@media (max-width: 1173px) {
    .benefits-boxes{
        display: flex;
        flex-direction: column;
    }
 
  .benefits-boxes-left{
width: 100%;
  }
  .benefits-boxes-right{
    display: flex;
    justify-content: center;
  }
}
/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
    .benefits {
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
    }
  
    .benefits-container {
      width: 90%;
    }
  
    .benefits-head {
      width: 80%;
    }
  
    .benefits-head > h1 {
      font-size: 25px;
    }
  
   
  
    .benefits-boxes-left {
      width: 100%;
      padding: 20px;
      margin: 10px 0;
      border-radius: 15px;
    }
  
  
  .benefits-right-box-p{
   font-size: 12px;
  }
    .benefits-boxes-left-head {
      font-size: 30px;
      text-align: center;
    }
  
    .figmaImg,
    .reactImg {
      width: 40px;
      margin: 5px;
    }
  
    .benefits-right-box > h1 {
      font-size: 35px;
    }
  }